{% extends 'layout.njk' %}

    {% block content %}
      <div class="apresentation">
        <div class="text-describe">
          <h1>As melhores receitas</h1>
          <p>Aprenda a construir os melhores pratos
            com receitas criadas por profissionais
            do mundo inteiro.
          </p>
        </div>

        <img src="/chef.png" alt="chef image">
      </div>
      
      <h2 class="list-title">
        Mais acessadas
      </h2>

      <div class="list-recipes">

        <div class="recipe" id="burger.png">
          <img src="/burger.png" class="recipe-image" >
          <h3>Triplo bacon burger</h3>
          <p>por Jorge Relato</p>
        </div>

        <div class="recipe" id="pizza.png">
          <img src="../assets/pizza.png" class="recipe-image" >
          <h3>Pizza 4 estações</h3>
          <p>por Fabiana Melo</p>
        </div>

        <div class="recipe" id="espaguete.png">
          <img src="../assets/espaguete.png" class="recipe-image" >
          <h3>Espaguete ao alho</h3>
          <p>por Júlia Kinoto</p>
        </div>

        <div class="recipe" id="lasanha.png">
          <img src="../assets/lasanha.png" class="recipe-image" >
          <h3>Lasanha mac n' cheese</h3>
          <p>por Juliano Vieira</p>
        </div>

        <div class="recipe" id="doce.png">
          <img src="../assets/doce.png" class="recipe-image" >
          <h3>Docinhos pão-do-céu</h3>
          <p>por Ricardo Golvea</p>
        </div>

        <div class="recipe" id="asinhas.png">
          <img src="../assets/asinhas.png" class="recipe-image" >
          <h3>Asinhas de frango ao barbecue</h3>
          <p>por Vania Steroski</p>
        </div>

      </div>
      
      
    </section>

    <div class="modal-overlay">
      <div class="modal">
        <div class="modal-img">
          <img src="" alt=""/>
        </div>
        
        <div class="modal-description">
          <h3>Asinhas de frango ao barbecue</h3>
          <p>por Vania Steroski</p>
          <a class="close-modal">
            Fechar modal
          </a>
        </div>
        
      </div>
    </div>

    <script src="scripts.js"></script>
  {% endblock %}
