<!DOCTYPE html>

<html>
  <head>
    {% block head %}
      <title>Foodfy</title>
    {% endblock %}
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <section class="body-site">

      <header>
        <a href="/"><h1 class="logo-name"> 
          Foodfy
        </h1>
        </a>

        <div class="links">
          <a href="/about.njk">Sobre</a>
          <a href="/recipes.njk">Receitas</a>
        </div>
      </header>

      {% block content %}

      {% endblock %}

      <footer><p>Todos direitos reservados, receitas Foodfy</p></footer>
  </body>
</html>