{% extends 'layout.njk' %}

{% block content %}
  <div class="list-recipes" id="recipes-list-recipes">

    {% for recipe in recipes %}
      <div class="recipe" id="{{ recipes.indexOf(recipe) }}">
        <img src="{{ recipe.imageHome }}" class="recipe-image" >
        <h3>{{ recipe.title }}</h3>
        <p>{{ recipe.author }}</p>
      </div>
    {% endfor %}

  </div>

{% endblock %}

{% block script %}
  <script src="scripts.js"></script>
{% endblock %}