<div class="item">
  <div class="title-item">Imagem da receita</div>
  <div>
    <input type="url" name="image" placeholder="http://" value="{{ recipe.image }}">
  </div>
</div>

<div class="item">
  <div class="title-item">Nome da receita</div>
  <div>
    <input type="text" name="title" value="{{ recipe.title }}">
  </div>
</div>

<div class="item">
  <div class="title-item">Ingredientes</div>
  <div id="ingredients">
  {% for ingredient in recipe.ingredients %}
    <div class="ingredient">
      <input type="text" name="ingredients[]" value="{{ ingredient }}"/>
    </div>
  {% endfor %}

  {% if recipe == null %}
    <div class="ingredient">
      <input type="text" name="ingredients[]"/>
    </div>
  {% endif %}
  </div>

  <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
</div>

<div class="item">
  <div class="title-item">Modo de preparo</div>
  <div id="preparations">
  {% for preparation in recipe.preparation %}
    <div class="preparation">
      <input type="text" name="preparations[]" value="{{ preparation }}">
    </div>
  {% endfor %}

  {% if recipe == null %}
    <div class="preparation">
      <input type="text" name="preparations[]" value="{{ preparation }}">
    </div>
  {% endif %}
  </div>

  <button type="button" class="add-preparation">Adicionar novo passo</button>
</div>

<div class="item">
  <div class="title-item">Autor da receita</div>
  <div>
    <input type="text" name="author" value="{{ recipe.author }}">
  </div>
</div>

<div class="item">
  <div class="title-item">Informações adicionais</div>
  <div>
    <textarea name="information">{{ recipe.information }}</textarea>
  </div>
</div>