{% extends 'recipes/layout.njk' %}

{% block content %}
  <h1>Gerenciar receitas</h1>

  <section class="recipes">
    {% for recipe in recipes %}
      <div class="recipe">
        <img src="{{ recipe.image }}" alt="">
        <div class="recipe-detail">
          <h4>{{ recipe.title }}</h4>
          <p>por {{ recipe.author }}</p>
          <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
        </div>
      </div>
    {% endfor %}
  </section>
{% endblock %}