@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --color-standard: #111111;
}

body {
  margin: 0;
  min-height: 100%;
}

html {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

h2 {
  margin-top: 30px;
}

.body-site {
  margin: 0 auto;
  max-width: 940px;
  padding-bottom: 100px;
}

header {
  display: grid;
  grid-template-columns: 150px 200px;
  margin-bottom: 30px;
}

header a {
  text-decoration: none;
}

.logo-name {
  letter-spacing: 2px;
  font-weight: normal;
  width: 90.6px;
  height: 26.9px;
  color: var(--color-standard);
  margin-bottom: 0px;
  
}

.links {
  margin-top: 25px;
  font-size: 16px;
}

.links a {
  font-family: 'Roboto', sans-serif;
  color: var(--color-standard);
  text-decoration: none;
  margin-left: 30px;
  font-weight: normal;
}

.apresentation {
  background: #FBDFDB;
  width: 940px;
  height: 366px;
  border-radius: 30px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.apresentation img {
  position: absolute;
  right: 100px;
  bottom: 0;
}

.text-describe {
  position: relative;
  margin: 100px 60px;
  max-width: 320px;
}

.text-describe h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #111111;
  font-weight: bold;
  line-height: 0px;
}

.text-describe p {
  opacity: 0.7;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 28px;
}

.list-title {
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.list-recipes{
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-row-gap: 30px;
}

.recipe {
  cursor: pointer;
}

.recipe-image {
  height: 140px;
  width: 300px;
  border-radius: 15px;
}

.recipe h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: -8px;
  color: var(--color-standard);
}

.recipe p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #777777;
}

footer {
  width: 100%;
  position: absolute;
  
  bottom: 0;
  height: 62px;
  background: #EEEEEE;
}

footer p {
  
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #999999;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 23px;
}


/*=== ABOUT PAGE ===*/

.texts {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

.texts p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  font-weight: normal;
}

.about h2 {
  margin-top: 50px;
}

/*=== RECIPES PAGE ===*/
#recipes-list-recipes {
  margin-top: 50px;
}

/*=== RECIPE DETAILS ===*/
.recipeImage {
  margin-top: 45px;
  margin-bottom: 50px;
}
.recipeImage img {
  border-radius: 15px;
}

.recipeDescription {
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.recipeDescription h2 {
  line-height: 4px;
  font-weight: bold; 
  font-size: 36px;
  color: #111111;
}

.recipeDescription p {
  line-height: 0;
  font-size: 20px;
  color: #777777;
}

.recipeInformations {
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
}

.recipeInformations h3 {
  font-weight: bold;
  font-size: 24px;
  color: #111111;
  margin-bottom: 20px;
  margin-top: 39px;
}

.recipeInformations p, li{
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.recipeInformations a {
  border: 0;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}
