{% extends 'recipes/layout.njk' %}

{% block content %}
  <form action="/admin/recipes" method="POST" class="card">
    <div class="title">
      <h1>Editando receita</h1>
      <div>
        <button class="delete" type="submit">Deletar</button>
        <button class="save" type="submit">Salvar receita</button>
      </div>
    </div>
    {% include 'recipes/fields.njk'%}
  </form>
{% endblock content %}