{% extends 'recipes/layout.njk' %}

{% block content %}
  <div class="title">
    <h2>Receita: {{ recipe.title }}</h2>
    <button>Editar receita</button>
  </div>

  <div class="recipeImage">
    <img src="{{ recipe.image }}" alt="">
  </div>

  <div class="recipeDescription">
    <h2>{{ recipe.title }}</h2>
    <p>por {{ recipe.author }}</p>
  </div>

  <section class="recipeInformations">

    <h3>Ingredientes</h3>
    <div class="ingredients">
      {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient }};</li>
      {% endfor %}
    </div>
  
    <h3>Modo de preparo</h3>
    <div class="preparation">
      {% for preparation in recipe.preparation %}
        <li>{{ preparation }}</li>
      {% endfor %}
    </div>
    
    <h3 class="informationTitle">Informações adicionais</h3>
    <div class="information">
      <p>{{ recipe.information }}</p>
    </div>

  </section>

  
{% endblock %}