{% extends 'layout.njk' %}

{% block content %}
  <div class="recipeImage">
    <img src="{{ recipe.image }}" alt="">
  </div>

  <div class="recipeDescription">
    <h2>{{ recipe.title }}</h2>
    <p>por {{ recipe.author }}</p>
  </div>

  <section class="recipeInformations">

    <h3>Ingredientes <a class="show" id="ingredients">ESCONDER</a></h3>
    <div class="ingredients">
      {% for ingredient in recipe.ingredients %}
        <li>{{ ingredient }};</li>
      {% endfor %}
    </div>
  
    <h3>Modo de preparo <a class="show" id="preparation">ESCONDER</a></h3>
    <div class="preparation">
      {% for preparation in recipe.preparation %}
        <li>{{ preparation }}</li>
      {% endfor %}
    </div>
    
    <h3 class="informationTitle">Informações adicionais <a class="show" id="information">ESCONDER</a></h3>
    <div class="information">
      <p>{{ recipe.information }}</p>
    </div>

  </section>
  
{% endblock %}

{% block script %}
    <script src="/scripts.js"></script>
{% endblock %}